<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANC6IRRGqORlcUVJEBNjilK8V6bcfYl-A</string>
	<key>GCM_SENDER_ID</key>
	<string>664914395947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salonApp</string>
	<key>PROJECT_ID</key>
	<string>salon-app-819fa</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-app-819fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664914395947:ios:0237c6e0f017ca81ca3b6e</string>
</dict>
</plist>